@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


@layer utilities {
  .bg-radial-custom {
    background: #ffeef5;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
  }
}



.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li button:before {
  color: #DB0155; /* couleur normale */
}

.slick-prev:before, .slick-next:before {
  color: #DB0155;
}

